@import "../styles/variables.module.scss";

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .left {
  }
  .right {
    padding: 0rem 5rem 0rem 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .root {
    .right {
      padding: 0rem 0rem 0rem 0rem;
    }
  }
}
